.social-login--block {
    width: 100%;
}

.social-login--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.social-login--btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    height: 40px;
    background-color: none;
    border: 1px solid lightgray;
    transition: 0.1s ease-out;
    cursor: pointer;
}

.social-login--btn:hover {
    background-color: beige;
}

.social-login--img {
    height: 30px;
    margin-right: 5px;
}