.social-login {
  width: 100%;

  &--list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  &--btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    height: 40px;
    background-color: none;
    border: 1px solid lightgray;
    transition: 0.1s ease-out;
    cursor: pointer;

    &:hover {
      background-color: beige;
    }
  }

  &--img {
    height: 30px;
    margin-right: 5px;
  }
}
