.header {
  height: 60px;
  background-color: #1da1f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.header--icon {
  font-size: 30px;
  color: #ffffff;
  font-weight: 900;
  font-family: Roboto;
}

.user-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
