.chat {
  height: calc(100% - 70px);

  &-dialog-window {
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  &-block {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-form {
    display: flex;
    padding: 10px;

    &--block {
      width: 100%;
      background-color: lightgray;
    }

    &--input {
      max-width: 1720px;
      width: 100%;
      max-height: 50px;
      font-size: 16px;
      line-height: 21px;
      text-indent: 5px;
      font-family: Roboto;
      resize: none;
    }

    &--btn {
      background-color: #1da1f2;
      color: #ffffff;
      border: none;
      height: 50px;
      min-width: 130px;
      font-size: 16px;
      font-weight: 700;

      &:hover {
        background-color: #006dbf;
        cursor: pointer;
      }
    }
  }
}

.message {
  &-list {
    padding: 10px;
    padding-bottom: 70px;
  }

  &-item {
    display: flex;
    flex-direction: column;
  }

  & .timestamp {
    display: flex;
    justify-content: center;
    color: #999;
    font-weight: 600;
    font-size: 12px;
    margin: 10px 0px;
    text-transform: uppercase;
  }

  & .bubble-container {
    font-size: 14px;
    display: flex;
  }

  &.mine .bubble-container {
    justify-content: flex-end;
  }

  &.start .bubble-container .bubble {
    /* margin-top: 10px; */
    border-top-left-radius: 20px;
  }

  &.end .bubble-container .bubble {
    border-bottom-left-radius: 20px;
    /* margin-bottom: 10px; */
  }

  &.mine.start .bubble-container .bubble {
    margin-top: 10px;
    border-top-right-radius: 20px;
  }

  &.mine.end .bubble-container .bubble {
    border-bottom-right-radius: 20px;
    margin-bottom: 10px;
  }

  & .bubble-container .bubble {
    margin: 1px 0px;
    background: #f4f4f8;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &.mine .bubble-container .bubble {
    background: #007aff;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.side-menu {
  border-right: 1px solid black;

  &--list {
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60px;
    transition: all 0.5s ease;
  }

  &--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  &--item:hover {
    background-color: #ffffff;
    color: #1da1f2;
  }

  &--item:hover &--img > svg {
    fill: #1da1f2;
  }

  &--img > svg {
    width: 40px;
    height: 40px;
    fill: black;
  }

  &--img {
    transition: transform 0.3s;
  }

  &--img.arrow_open {
    transform: rotate(180deg);
  }

  &--text {
    position: absolute;
    left: -110px;
    margin: 0 10px;
  }

  &.__open &--list {
    width: 200px;
  }

  &.__open &--text {
    left: 60px;
  }
}

.room {
  &-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;

    &--block {
      box-sizing: border-box;
      background-color: #ffffff;
      max-width: 300px;
      width: 100%;
      overflow-y: scroll;
    }
  }

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    border-bottom: 1px solid lightgray;

    &._selected {
      background-color: #419fd9;

      &:hover {
        background-color: #419fd9;
      }
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-name {
    margin: 0;
  }

  &-last-message {
    margin: 0;
    margin-top: 5px;
  }

  &-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.with-scroll-component {
  height: calc(100vh - 130px);
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  background-color: #dce1e6;
}
